<!DOCTYPE html>
<html>
    <head>
        <title>Movie website</title>
        <link rel="stylesheet" href="styles.css">
        
    </head>
    <body>

        <%- include('./partials/head.ejs') %>

        <% const name="mario" %>

        <div class="background">
            <h1>MovieBox <%= heading %></h1>
            <p>Unlimited movies,Tv shows and more.</p>
            <div class="entry">
                <p class="bold-para">Email ID <input type="text"></p>
                <p class="bold-para">Password <input type="text"></p>
                <%= name %>
            </div>
            <div class="button-align">
                <button class="b">Sign In</button>
                <button class="b"><a href="" target="_blank">Forget Password</a></button>
            </div>
            <p>Don't have an account.</p>
            <div class="button-align">
                <button class="b"><a href="" target="_blank">Sign Up</a></button>
            </div>
            <div>
                <h1>all blogs</h1>
                <% if (blogs.length>0){ %>
                    <% blogs.forEach(blog=>{ %>
                        <h3 class="title"><%= blog.title %></h3>
                        <p class="snippet"><%= blog.snippet %></p>
                    <% }) %>
                <% } %>
            </div>

            <%- include('./partials/footer.ejs') %>

        </div>
    </body>
</html>